In [1]:
import pandas as pd

In [9]:
folder_path = 'C:/Users/tjdtn/inflearn-llm-application/big-contest/'

raw = pd.read_csv(folder_path + 'jeju_mct_data.csv')
jeju = raw.copy()
print(jeju.shape)
jeju.head(2)

(67864, 30)

,기준연월,가맹점명,개설일자,업종,주소,이용건수구간,이용금액구간,건당평균이용금액구간,월_이용건수비중,화_이용건수비중,...,현지인_이용건수비중,남성_이용건수비중,여성_이용건수비중,10-20대_회원비중,30대_회원비중,40대_회원비중,50대_회원비중,60대이상_회원비중,best_age,best_gender
0,202301,통큰돼지,20110701,가정식,제주 제주시 용담이동 2682-9번지 통큰돼지,5,4,3,0.161290,0.032258,...,0.707763,0.610,0.390,0.103,0.124,0.245,0.387,0.142,50대,남성
1,202301,해변,20050407,단품요리 전문,제주 제주시 애월읍 애월리 410-6번지,3,2,2,0.090909,0.121212,...,0.230928,0.542,0.458,0.221,0.201,0.195,0.244,0.139,50대,남성

In [10]:
jeju.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67864 entries, 0 to 67863
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   기준연월           67864 non-null  int64
 1   가맹점명           67864 non-null  object
 2   개설일자           67864 non-null  int64
 3   업종             67864 non-null  object
 4   주소             67864 non-null  object
 5   이용건수구간         67864 non-null  int64
 6   이용금액구간         67864 non-null  int64
 7   건당평균이용금액구간     67864 non-null  int64
 8   월_이용건수비중       67864 non-null  float64
 9   화_이용건수비중       67864 non-null  float64
 10  수_이용건수비중       67864 non-null  float64
 11  목_이용건수비중       67864 non-null  float64
 12  금_이용건수비중       67864 non-null  float64
 13  토_이용건수비중       67864 non-null  float64
 14  일_이용건수비중       67864 non-null  float64
 15  05-11시_이용건수비중  67864 non-null  float64
 16  12-13시_이용건수비중  67864 non-null  float64
 17  14-17시_이용건수비중  67864 non-null  float64
 18  18-22시_이용건수비중  67864 non-null  float64
 19  23-04시_이용건수비중  67864 non-null  float64
 20  현지인_이용건수비중     67864 non-null  float64
 21  남성_이용건수비중      67864 non-null  float64
 22  여성_이용건수비중      67864 non-null  float64
 23  10-20대_회원비중    67864 non-null  float64
 24  30대_회원비중       67864 non-null  float64
 25  40대_회원비중       67864 non-null  float64
 26  50대_회원비중       67864 non-null  float64
 27  60대이상_회원비중     67864 non-null  float64
 28  best_age       67864 non-null  object
 29  best_gender    67864 non-null  object
dtypes: float64(20), int64(5), object(5)
memory usage: 15.5+ MB

In [11]:
# 12월달만 사용
jeju_12 = jeju[jeju['기준연월'] == 202312].reset_index(drop=True)
print(jeju_12.shape)
jeju_12.head(2)

(5409, 30)

,기준연월,가맹점명,개설일자,업종,주소,이용건수구간,이용금액구간,건당평균이용금액구간,월_이용건수비중,화_이용건수비중,...,현지인_이용건수비중,남성_이용건수비중,여성_이용건수비중,10-20대_회원비중,30대_회원비중,40대_회원비중,50대_회원비중,60대이상_회원비중,best_age,best_gender
0,202312,협재해녀의집,20130627,가정식,제주 제주시 한림읍 협재리 1459-2번지,3,3,4,0.00,0.157407,...,0.020408,0.494,0.506,0.286,0.322,0.215,0.131,0.047,30대,여성
1,202312,카페보리다,20190717,커피,제주 제주시 이도이동 1055번지 1층,4,5,4,0.06,0.060000,...,0.788913,0.308,0.692,0.114,0.370,0.301,0.185,0.031,30대,여성

In [12]:
jeju_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5409 entries, 0 to 5408
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   기준연월           5409 non-null   int64
 1   가맹점명           5409 non-null   object
 2   개설일자           5409 non-null   int64
 3   업종             5409 non-null   object
 4   주소             5409 non-null   object
 5   이용건수구간         5409 non-null   int64
 6   이용금액구간         5409 non-null   int64
 7   건당평균이용금액구간     5409 non-null   int64
 8   월_이용건수비중       5409 non-null   float64
 9   화_이용건수비중       5409 non-null   float64
 10  수_이용건수비중       5409 non-null   float64
 11  목_이용건수비중       5409 non-null   float64
 12  금_이용건수비중       5409 non-null   float64
 13  토_이용건수비중       5409 non-null   float64
 14  일_이용건수비중       5409 non-null   float64
 15  05-11시_이용건수비중  5409 non-null   float64
 16  12-13시_이용건수비중  5409 non-null   float64
 17  14-17시_이용건수비중  5409 non-null   float64
 18  18-22시_이용건수비중  5409 non-null   float64
 19  23-04시_이용건수비중  5409 non-null   float64
 20  현지인_이용건수비중     5409 non-null   float64
 21  남성_이용건수비중      5409 non-null   float64
 22  여성_이용건수비중      5409 non-null   float64
 23  10-20대_회원비중    5409 non-null   float64
 24  30대_회원비중       5409 non-null   float64
 25  40대_회원비중       5409 non-null   float64
 26  50대_회원비중       5409 non-null   float64
 27  60대이상_회원비중     5409 non-null   float64
 28  best_age       5409 non-null   object
 29  best_gender    5409 non-null   object
dtypes: float64(20), int64(5), object(5)
memory usage: 1.2+ MB

In [14]:
jeju_12 = jeju_12.iloc[:, :-2]

In [15]:
original = pd.read_csv(folder_path+'JEJU_MCT_DATA_v2.csv')
print(original.shape)
original.head(2)

(67864, 28)

,YM,MCT_NM,OP_YMD,MCT_TYPE,ADDR,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,통큰돼지,20110701,가정식,제주 제주시 용담이동 2682-9번지 통큰돼지,5_75~90%,4_50~75%,3_25~50%,0.161290,0.032258,...,0.838710,0.0,0.707763,0.610,0.390,0.103,0.124,0.245,0.387,0.142
1,202301,해변,20050407,단품요리 전문,제주 제주시 애월읍 애월리 410-6번지,3_25~50%,2_10~25%,2_10~25%,0.090909,0.121212,...,0.560606,0.0,0.230928,0.542,0.458,0.221,0.201,0.195,0.244,0.139

In [16]:
original.UE_CNT_GRP.unique()

array(['5_75~90%', '3_25~50%', '2_10~25%', '1_상위 10% 이하',
       '6_90% 초과(하위 10% 이하)', '4_50~75%'], dtype=object)

In [17]:
original.UE_AMT_GRP.unique()

array(['4_50~75%', '2_10~25%', '3_25~50%', '5_75~90%',
       '6_90% 초과(하위 10% 이하)', '1_상위 10% 이하'], dtype=object)

In [18]:
jeju_12.columns

Index(['기준연월', '가맹점명', '개설일자', '업종', '주소', '이용건수구간', '이용금액구간', '건당평균이용금액구간',
       '월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중', '금_이용건수비중', '토_이용건수비중',
       '일_이용건수비중', '05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중',
       '18-22시_이용건수비중', '23-04시_이용건수비중', '현지인_이용건수비중', '남성_이용건수비중',
       '여성_이용건수비중', '10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중',
       '60대이상_회원비중'],
      dtype='object')

In [20]:
original_12 = original[original.YM == 202312].reset_index(drop=True)
print(original_12.shape)
original_12.head(2)

(5409, 28)

,YM,MCT_NM,OP_YMD,MCT_TYPE,ADDR,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202312,협재해녀의집,20130627,가정식,제주 제주시 한림읍 협재리 1459-2번지,3_25~50%,3_25~50%,4_50~75%,0.00,0.157407,...,0.092593,0.0,0.020408,0.494,0.506,0.286,0.322,0.215,0.131,0.047
1,202312,카페보리다,20190717,커피,제주 제주시 이도이동 1055번지 1층,4_50~75%,5_75~90%,4_50~75%,0.06,0.060000,...,0.000000,0.0,0.788913,0.308,0.692,0.114,0.370,0.301,0.185,0.031

In [21]:
original_12.columns = ['기준연월', '가맹점명', '개설일자', '업종', '주소', '이용건수구간', '이용금액구간', '건당평균이용금액구간',
       '월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중', '금_이용건수비중', '토_이용건수비중',
       '일_이용건수비중', '05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중',
       '18-22시_이용건수비중', '23-04시_이용건수비중', '현지인_이용건수비중', '남성_이용건수비중',
       '여성_이용건수비중', '10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중',
       '60대이상_회원비중']

In [22]:
original_12.head(2)

,기준연월,가맹점명,개설일자,업종,주소,이용건수구간,이용금액구간,건당평균이용금액구간,월_이용건수비중,화_이용건수비중,...,18-22시_이용건수비중,23-04시_이용건수비중,현지인_이용건수비중,남성_이용건수비중,여성_이용건수비중,10-20대_회원비중,30대_회원비중,40대_회원비중,50대_회원비중,60대이상_회원비중
0,202312,협재해녀의집,20130627,가정식,제주 제주시 한림읍 협재리 1459-2번지,3_25~50%,3_25~50%,4_50~75%,0.00,0.157407,...,0.092593,0.0,0.020408,0.494,0.506,0.286,0.322,0.215,0.131,0.047
1,202312,카페보리다,20190717,커피,제주 제주시 이도이동 1055번지 1층,4_50~75%,5_75~90%,4_50~75%,0.06,0.060000,...,0.000000,0.0,0.788913,0.308,0.692,0.114,0.370,0.301,0.185,0.031

In [45]:
# 순위 구하기
original_12['남성_이용건수순위'] = original_12.남성_이용건수비중.rank(method='dense', ascending=False).astype(int)
original_12['여성_이용건수순위'] = original_12.여성_이용건수비중.rank(method='dense', ascending=False).astype(int)

original_12['10-20대_회원순위'] = original_12['10-20대_회원비중'].rank(method='dense', ascending=False).astype(int)
original_12['30대_회원순위'] = original_12['30대_회원비중'].rank(method='dense', ascending=False).astype(int)
original_12['40대_회원순위'] = original_12['40대_회원비중'].rank(method='dense', ascending=False).astype(int)
original_12['50대_회원순위'] = original_12['50대_회원비중'].rank(method='dense', ascending=False).astype(int)
original_12['60대이상_회원순위'] = original_12['60대이상_회원비중'].rank(method='dense', ascending=False).astype(int)

In [43]:
# 이용건수가 가장 많은 요일
# 각 행별로 가장 큰 비중의 요일 찾기
original_12['최대_이용요일'] = original_12[['월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중', 
                        '금_이용건수비중', '토_이용건수비중', '일_이용건수비중']].idxmax(axis=1).str.replace('_이용건수비중', '')

original_12['최대_이용시간'] = original_12[['05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중',
       '18-22시_이용건수비중', '23-04시_이용건수비중']].idxmax(axis=1).str.replace('_이용건수비중', '')

original_12['최대_이용성별'] = original_12[['남성_이용건수비중', '여성_이용건수비중',]].idxmax(axis=1).str.replace('_이용건수비중', '')


original_12['최대_이용나이'] = original_12[['10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중', '60대이상_회원비중']].idxmax(axis=1).str.replace('_회원비중', '')

# 최대 비중을 가진 나이대의 값을 NaN으로 변경하여 두 번째로 큰 비중 찾기
without_max = original_12[['10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중', '60대이상_회원비중']].mask(
    original_12[['10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중', '60대이상_회원비중']].eq(original_12[['10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중',
       '60대이상_회원비중']].max(axis=1), axis=0))

# 두 번째로 큰 비중의 나이대 찾기
original_12['두번째_이용나이'] = without_max.idxmax(axis=1).str.replace('_회원비중', '')

In [59]:
def make_summary(i):
    # 특정 행(예: 2번째 행, 인덱스 1)에서 최대 및 두 번째 비중의 요일과 그 값을 구하기
    specific_row = original_12.iloc[i]  # 인덱스 1 (2번째 행) 선택

    basic_info = f"{specific_row['가맹점명']}의 업종은 {specific_row['업종']}, 위치는 {specific_row['주소']} 입니다."
    used_info = f"이용건수는 동일 업종 내 상위 {specific_row['이용건수구간'][2:]}이고, 현지인 이용건수 비중은 {specific_row['현지인_이용건수비중']:.2f}입니다."
    gender_info = f"{specific_row['최대_이용성별']}의 이용건수가 더 높습니다. 남성 이용건수는 전체 가맹점 중 {specific_row['남성_이용건수순위']}위({specific_row['남성_이용건수비중']:.2f})이고, 여성 이용건수는 전체 가맹점 중 {specific_row['여성_이용건수순위']}위({specific_row['여성_이용건수비중']:.2f})입니다."

    # 요일별 비중 컬럼만 선택 (특정 컬럼들만 비교)
    weekday_columns = ['월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중',
                    '금_이용건수비중', '토_이용건수비중', '일_이용건수비중']

    time_columns = ['05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중',
                    '18-22시_이용건수비중', '23-04시_이용건수비중']

    age_columns = ['10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중', '60대이상_회원비중']

    # 해당 행에서 비중 값을 정렬하여 두 번째로 큰 값을 찾기
    weekday_sorted_values = specific_row[weekday_columns].sort_values(ascending=False)
    time_sorted_values = specific_row[time_columns].sort_values(ascending=False)
    age_sorted_values = specific_row[age_columns].sort_values(ascending=False)

    # 최대 비중의 요일 및 값
    max_weekday = weekday_sorted_values.idxmax().replace('_이용건수비중', '')
    max_value_weekday = weekday_sorted_values.max()

    # 최대 비중의 시간 및 값
    max_time = time_sorted_values.idxmax().replace('_이용건수비중', '')
    max_value_time = time_sorted_values.max()

    # 최대 비중의 나이대 및 값
    max_age = age_sorted_values.idxmax().replace('_회원비중', '')
    max_value_age = age_sorted_values.max()

    # 두 번째 비중의 요일 및 값
    second_max_weekday = weekday_sorted_values.index[1].replace('_이용건수비중', '')  # 두 번째 인덱스
    second_max_value_weekday = weekday_sorted_values.iloc[1]  # 두 번째 값

    # 두 번째 비중의 시간 및 값
    second_max_time = time_sorted_values.index[1].replace('_이용건수비중', '')  # 두 번째 인덱스
    second_max_value_time = time_sorted_values.iloc[1]  # 두 번째 값

    # 두 번째 비중의 나이대 및 값
    second_max_age = age_sorted_values.index[1].replace('_회원비중', '')  # 두 번째 인덱스
    second_max_value_age = age_sorted_values.iloc[1]  # 두 번째 값

    # 특정 행(예: 2번째 행, 인덱스 1)에서 '화_이용건수비중' 컬럼의 순위 구하기
    max_age_column_name = f"{max_age}_회원비중"  # 특정 컬럼 이름
    second_age_column_name = f"{second_max_age}_회원비중"

    # 전체 컬럼의 값으로 정렬하여 순위 구하기
    max_age_ranked_values = original_12[max_age_column_name].rank(ascending=False, method='dense').astype(int)
    second_age_ranked_values = original_12[second_age_column_name].rank(ascending=False, method='dense').astype(int)

    # 특정 행의 순위 가져오기
    max_age_rank = max_age_ranked_values.iloc[i]
    second_age_rank = second_age_ranked_values.iloc[i]

    weekday_info = f"이용건수가 가장 많은 요일은 {max_weekday}요일({max_value_weekday:.2f}), 두 번째로 많은 요일은 {second_max_weekday}요일({second_max_value_weekday:.2f})입니다."
    time_info = f"이용건수가 가장 많은 시간대는 {max_time}({max_value_time:.2f}), 두 번째로 많은 시간대는 {second_max_time}({second_max_value_time:.2f})입니다."
    age_info = f"회원이 가장 많은 나이대는 {max_age}({max_value_age:.2f})이고 전체 가맹점 중 {max_age_rank}위입니다. 회원이 두 번째로 많은 나이대는 {second_max_age}({second_max_value_age:.2f})이고 전체 가맹점 중 {second_age_rank}위입니다."

    summary_info = basic_info + "\n" + used_info + "\n" + weekday_info + "\n" + time_info + "\n" + gender_info + "\n" + age_info

    return summary_info

In [60]:
original_12['요약'] = None

for i in range(original_12.shape[0]):
    original_12.iloc[i, -1] = make_summary(i)

휴일로의 업종은 단품요리 전문,  위치는 제주 서귀포시 안덕면 창천리 786번지 가동입니다.  2023년 08월 기준  이용건수는 동일 업종내 상위 90% 미만이고,  이용건수가 가장 많은 요일은 화요일,  이용건수가 가장 많은 시간대는 14시~17시,  현지인 이용건수 비중은 0.072855197입니다. OO보다 OO의 이용건수가 더 높습니다. 남성 이용건수는 전체 중 O위이고 이용비중은 ___입니다. 여성 이용건수는 전체의 O위이고, 이용비중은 ___입니다. OO대(비중), OO대(비중) 비중이 많습니다.

In [61]:
original_12.head(2)

,기준연월,가맹점명,개설일자,업종,주소,이용건수구간,이용금액구간,건당평균이용금액구간,월_이용건수비중,화_이용건수비중,...,30대_회원순위,40대_회원순위,50대_회원순위,60대이상_회원순위,최대_이용요일,최대_이용시간,최대_이용성별,최대_이용나이,두번째_이용나이,요약
0,202312,협재해녀의집,20130627,가정식,제주 제주시 한림읍 협재리 1459-2번지,3_25~50%,3_25~50%,4_50~75%,0.00,0.157407,...,166,315,343,352,토,14-17시,여성,30대,10-20대,"협재해녀의집의 업종은 가정식, 위치는 제주 제주시 한림읍 협재리 1459-2번지 입..."
1,202312,카페보리다,20190717,커피,제주 제주시 이도이동 1055번지 1층,4_50~75%,5_75~90%,4_50~75%,0.06,0.060000,...,118,229,289,368,수,14-17시,여성,30대,40대,"카페보리다의 업종은 커피, 위치는 제주 제주시 이도이동 1055번지 1층 입니다.\..."

In [56]:
original_12.columns

Index(['기준연월', '가맹점명', '개설일자', '업종', '주소', '이용건수구간', '이용금액구간', '건당평균이용금액구간',
       '월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중', '금_이용건수비중', '토_이용건수비중',
       '일_이용건수비중', '05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중',
       '18-22시_이용건수비중', '23-04시_이용건수비중', '현지인_이용건수비중', '남성_이용건수비중',
       '여성_이용건수비중', '10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중',
       '60대이상_회원비중', '남성_이용건수순위', '여성_이용건수순위', '10-20대_회원순위', '30대_회원순위',
       '40대_회원순위', '50대_회원순위', '60대이상_회원순위', '최대_이용요일', '최대_이용시간', '최대_이용성별',
       '최대_이용나이', '두번째_이용나이', '요약'],
      dtype='object')

In [62]:
final = original_12[['기준연월', '가맹점명', '개설일자', '업종', '주소', '이용건수구간', '이용금액구간', '건당평균이용금액구간',
       '월_이용건수비중', '화_이용건수비중', '수_이용건수비중', '목_이용건수비중', '금_이용건수비중', '토_이용건수비중', '일_이용건수비중',
       '05-11시_이용건수비중', '12-13시_이용건수비중', '14-17시_이용건수비중', '18-22시_이용건수비중', '23-04시_이용건수비중',
       '현지인_이용건수비중', '남성_이용건수비중', '여성_이용건수비중', '10-20대_회원비중', '30대_회원비중', '40대_회원비중', '50대_회원비중', '60대이상_회원비중', '요약']]

final.to_csv(folder_path+'요약추가_12월_mct.csv', index=False)